body, h1, h2, h3, li, ul, p {
    margin:0;
    padding:0;
}
nav {
    background:rgb(52, 177, 181);
    position:relative;
    color:white;
    margin:0;
    padding:0;
    height:100px;
}
img {
    width:130px;
    height:130px;
}
li {
    text-decoration:none;
    list-style-type:none;
}
#about {
    font-size:1.5em;
    text-align:center;
    color:rgb(119, 115, 115);
}
#about li {
    margin-top:10px;
}
#results {
    font-size:1.5em;
    text-align:center;
    color:rgb(119, 115, 115);  
}
#mainBody {
    width:95%;
    margin:0 auto;
    text-align:center;
}
#navLinkList{
    position:absolute;
    right:25px;
    bottom:-1px;
    font-size:1.3em;
}
#siteTitle {
    display: inline-block;
    margin:0 auto;
    font-size:4em;
    width:100%;
    text-align:center;
    top:50px;
}
#TipsDiv {
    width:50%;
    color:rgb(119, 115, 115);
    font-size:1.4em;
    background:rgba(52, 177, 181);
    background: rgba(52, 177, 181, 0.3);
    border-radius: 5px 0 0 5px;
    margin: 10px auto 0 auto;
    text-align: center;
    
}
#currentGoal {
    font-size:5em;
    text-align:center;
    color:rgb(119, 115, 115);
}
#goalForm {
    width:400px;
    display: block;
    margin: 20px auto;
    text-align:center;
}
#goalInput, #goalButton {
    height:40px;
    border: rgb(52, 177, 181) solid 4px;
    border-radius: 5px 0 0 5px;
    font-size:1.5em;
    color:rgb(119, 115, 115);
}
#goalButton {
   border-radius: 0 5px 5px 0;
   box-shadow:none;
   background: white;
   cursor: pointer;
}
#goalButton:hover {
    background:rgba(52, 177, 181, 0.2);
}
#goalInput {
    text-align:center;
    width:200px;
    border-right:none;
}
.navLink{
    text-decoration:none;
    display:inline-block;
    border: none;
    text-align:center;
}
nav ul {
    margin:0;
    position: absolute;
    bottom:0px;
}
nav li a {
    text-decoration:none;
    color:white;
    padding:0 30px;
}
.active {
    background:white;
    color:rgb(52, 177, 181);
}
.item {
    text-decoration:none;
    width:220px;
    display:inline-block;
    margin:5px;
    background: rgb(52, 177, 181);
    text-align:center;
    color:white;
    padding: 10px 0;
    border-radius:5px;
    font-size:1.2em;
    cursor: pointer;
}

.selected {
    background: rgb(68, 234, 237);
}

.itemsList {
    margin: 0 auto;
}
.itemPrice {
    width: 40px;
    font-size:1.02em;
    background:rgb(52, 177, 181);
    color:white;
    border:none;
}

.selected .itemPrice {
    background: rgb(68, 234, 237);
}